body {
    font-family: Arial, sans-serif;
}
        
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
        
.login-container h2 {
    text-align: center;
}
        
.login-container label {
    display: block;
    margin-top: 10px;
}
        
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
        
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #1a771d;
    color: white;
    border: none;
    cursor: pointer;
}
        
.login-container input[type="submit"]:hover {
    background-color: #45a049;
}
        
.register-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #6bc2a2;
    color: white;
    border: none;
    cursor: pointer;
}
        
.register-btn:hover {
    background-color: #007399;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.modal-content input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.modal-content input[type="submit"]:hover {
    background-color: #45a049;
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}