.menu {
    background-color: #ffffff; 
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 40px auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
}
.mySlides {
    width: 100%;
    height: 600px;
    object-fit: contain;
    background-color: #000;
    border-radius: 4px;
}
        
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    user-select: none;
}
        
.next {
    right: 20px;
    border-radius: 3px 0 0 3px;
}
        
.prev {
    left: 20px;
}
        
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

body {
    font-family: Arial, sans-serif;
}
        
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
        
.login-container h2 {
    text-align: center;
}
        
.login-container label {
    display: block;
    margin-top: 10px;
}
        
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
        
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
        
.login-container input[type="submit"]:hover {
    background-color: #45a049;
}
        
.register-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}
        
.register-btn:hover {
    background-color: #007399;
}
